.footer {
  background-color: #000000;
  padding: 20px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.social-media-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
  margin-bottom: 5px;
}

.social-media-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px; /* Add spacing between items */
}

.social-media-list img {
  width: 30px;
  height: 30px;
}

.social-media-list span {
  display: inline-block;
  color: white; /* You can adjust the text color as needed */
}

.footer-text {
  margin-top: 20px;
  color: #888;
}
