* {
    padding: 0;
    margin: 0;
}

.center {
    width: 100%;
    height: 100%;
    border: none;
}

.section {
    width: 90%;
    border-radius: 20%;
    margin: auto;
}

.section img {
    height: 650px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(50%)
}

.cButton{
    padding: 10px;
    color: white;
    background-color: #E87461;
    border: none;
    border-radius: 12px;
}

.cButton:hover{
    color:#E87461;
    background-color: #ffffff;
    box-shadow: 10px 10px #E87461;
}


.article-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 60px;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.article-container h2 {
    color:#E87461;
}

.Carousel-section {
    height: 200px;
    width: 300px;
    justify-content: left;
    margin-bottom: 300px;
}


@media only screen and (max-width: 950px) {
    .section img {
      height: 200px;
      width: auto;
    }

    .Carousel-section {
        margin: auto;
    }

    p {
        font-size: 8px;
    }

    h2 { 
        font-size: 10px;
    }

    button {
        padding: 5px;
    }

    .article-container {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }

}