body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #380e4a !important;
  color:white

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.logo {
  margin-top: 40px;
  margin-left: 50px;
  padding-bottom: 10px;
  height: 80%;
  width: 80%;
  transform: rotatey(0deg) rotate(-10deg); 
}

.half-circle {
  margin-top: -60px;
  margin-right:50px;
  padding-right: 30px;
  margin-left: -90px;
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px; /* as the half of the width */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transform: rotatey(0deg) rotate(10deg); 
}

.circle {
  max-height: 200px;
  max-width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index:-5;
}
.logo1 {
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 10px;
  height: 80%;
  width: 80%;
  transform: rotatey(0deg) rotate(-10deg); 
}

::placeholder {
  color: rgb(237, 235, 235);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(235, 229, 229);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(237, 237, 237);
}